@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

* {
  scroll-behavior: smooth;
}

section {
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("opentype");
  font-weight: 300;
}
h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1px;
}

body {
  font-family: "Roboto";
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}
h3 .subtitle {
  font-weight: 300;
  font-size: 17px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
h5 .subtitle {
  font-weight: 300;
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

h6 {
  font-weight: 300;
  font-size: 16px;
}

.icon-container {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.heart-overlay {
  position: absolute;
  top: 3px;
  left: 0;
  color: transparent;
}
.heart-overlay::before {
  opacity: 0;
}
.heart-overlay:hover::before {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#FF79DA -5%, #9356DC 110%);
  background-clip: text;
}

.heart-overlay2 {
  position: absolute;
  top: 1px;
  left: 0;
  color: transparent;
}
.heart-overlay2::before {
  opacity: 0;
}
.heart-overlay2:hover::before {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#FF79DA -5%, #9356DC 110%);
  background-clip: text;
}

.gradient-button {
  font-weight: 500;
  padding: 13px 19px;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(#FF79DA -5%, #9356DC 110%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
  width: max-content;
  align-self: center;
}
.gradient-button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.55);
}

.logo {
  width: 200px;
  height: 35px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 24px 20px 14px 20px;
  position: relative;
}

.arrow {
  color: inherit;
  position: absolute;
  left: 20px;
  top: 17px;
  font-size: 30px;
}

.explorer {
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 27px;
  padding: 39px 26px 57px 26px;
  margin-top: 4px;
}

.p2 {
  font-size: 18px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .explorer {
    flex-direction: column;
    margin-top: auto;
    padding: 30px 26px 30px 26px;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  border: none;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.location-content {
  display: flex;
  gap: 17px;
  padding: 15px 0px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .location {
    box-shadow: none;
  }
}
footer {
  background-color: #353535;
  padding: 22px 24px 22px 25px;
}

.footer-logo {
  width: 138px;
  height: 27px;
  margin-bottom: 16px;
  filter: invert(100%); /* Inverse les couleurs de l'image, je pouvais utiliser .svg  */
}

ul {
  list-style-type: none;
  line-height: 25px;
  text-wrap: nowrap;
  margin-right: 20px;
}

.list-1 {
  font-weight: 500;
}

.list-2 {
  font-weight: 400;
}

.space {
  padding-right: 11px;
}

.fa-utensils {
  font-size: 13px;
}

.fa-handshake-angle {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .footer-logo {
    order: 3;
  }
  .list-1 {
    order: 1;
  }
  .list-2 {
    order: 2;
  }
  ul {
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 1024px) {
  ul {
    margin-right: 40px;
  }
}
.instruction {
  margin-top: 48px;
  margin-bottom: 68px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 26px 20px 25px 8px;
  width: 100%;
  text-wrap: nowrap;
}

.ellipse {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 28px 38px;
  gap: 27px;
  border-radius: 25px;
  background-color: #F6F6F6;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.fa {
  font-size: 24px;
}

span {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .mediaq1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1080px;
  }
  .container {
    width: max-content;
  }
  .instruction {
    margin: auto;
    padding: 25px 20px;
  }
  .content {
    width: fit-content;
  }
}
.restaurant {
  padding-top: 54px;
  background-color: #F6F6F6;
}

.grid-restaurant {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
  margin-top: 18px;
  padding-bottom: 68px;
}

.card-restaurant {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  height: 251px;
}
.card-restaurant img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  height: 66%;
  width: 100%;
}
.card-restaurant .badge {
  top: 12px;
  position: absolute;
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  text-align: center;
  align-content: center;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 12px 13px;
  line-height: 25px;
}

i {
  font-size: 22px;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.subtitle {
  display: block;
}

@media screen and (min-width: 768px) {
  .grid-restaurant {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    justify-content: space-between;
    row-gap: 50px;
    max-width: 1080px;
    padding: 2vw 0;
    margin: auto;
  }
  .mediaq {
    max-width: 1080px;
    margin: auto;
  }
}
.card-menu {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.card-menu-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 25px 12px 13px;
  line-height: 25px;
  width: 100%;
  transition: width 0.5s ease;
}
.card-menu-text > div {
  width: calc(100% - 50px);
}

.line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 9px 0;
}

.menu {
  margin-top: 20px;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.grid-menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
  margin-top: 18px;
  padding-bottom: 20px;
}

.commander {
  width: 188px;
  display: flex;
  padding: 16px 48px;
}

.menu-button {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.photo {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .photo {
    height: 382px;
  }
}
.box {
  position: absolute;
  top: 0;
  right: -25%; /* Commence en dehors de la vue à droite */
  width: 75px;
  height: 100%;
  background-color: #99E2D0; /* Couleur de fond de la coche, ajustez selon votre design */
  color: white; /* Couleur de l'icône */
  font-size: 1.5em; /* Ajustez la taille de l'icône selon vos besoins */
  transition: right 0.5s ease-out;
}

.card-menu:hover .box {
  right: 0; /* Déplace la coche pour qu'elle occupe 25% du conteneur */
}

.card-menu:hover .card-menu-text {
  width: calc(100% - 75px);
}

.fa-circle-check {
  align-content: center;
  text-align-last: center;
}

.restaurant-section {
  padding-top: 54px;
  background-color: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  position: relative;
  top: -50px;
}

.euro {
  width: 50px;
  flex-shrink: 0;
  text-align: right;
}

.footer-menu {
  margin-top: -50px;
}

@media screen and (min-width: 768px) {
  .restaurant-section {
    max-width: 1080px;
    margin: auto;
  }
}
.grid-menu {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 0.5s forwards; /* Animation qui va durer 0.5 secondes et garder l'état final */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.grid-menu.grid-menu-1 {
  animation-delay: 0.5s; /* Début 0.5 secondes après le chargement de la page */
}

.grid-menu.grid-menu-2 {
  animation-delay: 1s; /* Début 1 seconde après le chargement de la page */
}

.grid-menu.grid-menu-3 {
  animation-delay: 1.5s; /* Début 1.5 secondes après le chargement de la page */
}

.menu {
  overflow: hidden;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s ease-out;
  font-size: 50px;
  gap: 40px;
  animation: fadeout 3s ease forwards;
  background-color: #F6F6F6;
  z-index: 1;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
}
@keyframes fadeout {
  90% {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.d1 {
  animation: loader infinite 0.3s alternate;
}

.d2 {
  animation: loader infinite 0.3s alternate;
}

.d3 {
  animation: loader infinite 0.3s alternate;
}

@keyframes loader {
  100% {
    transform: translateX(-30px);
  }
}

/*# sourceMappingURL=style.css.map */
