.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s ease-out;
    font-size: 50px;
    gap: 40px;
    animation: fadeout 3s ease forwards;
    background-color: $bg-greyligth;
    z-index: 1;
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
}
@keyframes fadeout {
    90% {
        opacity: 1;
    }
}
@keyframes fadeout {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.d1 {
    animation: loader infinite 0.3s alternate;
}
.d2 {
    animation: loader infinite 0.3s alternate;
 }
.d3 {
    animation: loader infinite 0.3s alternate;
 }

@keyframes loader {
    100% {
        transform: translateX(-30px);
    }
}