.explorer {
    background-color: $bg-greyligth;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 27px;
    padding: 39px 26px 57px 26px;
    margin-top: 4px;
}

.p2 {
    font-size: 18px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
.explorer {
    flex-direction: column;
    margin-top: auto;
    padding: 30px 26px 30px 26px;

}
}