.card-menu {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    @include shadow;
}
.card-menu-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 25px 12px 13px;
    line-height: 25px;
    transition: width 0.5s ease;
    > div {
        width: calc(100% - 50px);
    }
}
.line {
    width: 40px;        
    height: 3px;         
    background-color: $tertiary-color; 
    margin: 9px 0; 
}
.menu {
    margin-top: 20px;
}
.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.grid-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    margin-top: 18px;
    padding-bottom: 20px;
}
.commander {
    width: 188px;
    display: flex;
    padding: 16px 48px;
}
.menu-button {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.photo {
   height: 275px;
   object-fit: cover;
   width: -webkit-fill-available;
}
@media screen and (min-width: 768px) {
    .photo {
        height: 382px;
    }
}
.box  {
    position: absolute;
    top: 0;
    right: -25%; /* Commence en dehors de la vue à droite */
    width: 75px;
    height: 100%;
    background-color: $tertiary-color; /* Couleur de fond de la coche, ajustez selon votre design */
    color: white; /* Couleur de l'icône */
    font-size: 1.5em; /* Ajustez la taille de l'icône selon vos besoins */
    transition: right 0.3s ease-out;

}
.card-menu:hover .box {
    right: 0; /* Déplace la coche pour qu'elle occupe 25% du conteneur */
}

.card-menu:hover .card-menu-text {
    width: calc(100% - 75px);
}

.fa-circle-check {
    align-content: center;
    text-align-last: center;
}
